.circle-background,
.circle-progress {
  fill: none;
}

.circle-background {
  stroke: #ddd;
}

.circle-progress {
  stroke: rgb(0, 255, 64);
  stroke-linecap: round;
  stroke-linejoin: round;
}

.circle-text {
  font-size: 3.7em;
  font-weight: bold;
  fill: rgb(0, 255, 64);
}

.abhi-overflow{
  overflow-x: hidden !important;
}

body{
  width: 100vw;
  overflow-x: hidden;
}

*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.active{
  border: blue solid 2px ;
  box-shadow: blue 0.1rem .1rem .1rem .1rem;
}
/* html{
  scroll-behavior: smooth;
} */