.circle-background,
.circle-progress {
  fill: none;
}

.circle-background {
  stroke: #ddd;
}

.circle-progress {
  stroke: rgb(0, 255, 64);
  stroke-linecap: round;
  stroke-linejoin: round;
}

.circle-text {
  font-size: 3.7em;
  font-weight: bold;
  fill: rgb(0, 255, 64);
}

.abhi-overflow {
  overflow-x: hidden !important;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.active {
  border: blue solid 2px;
  box-shadow: blue 0.1rem .1rem .1rem .1rem;
}

/* html{
  scroll-behavior: smooth;
} */



.typer {
  content: "";
  display: flex;
}

.typer::after {
  content: "";
  animation: type linear infinite 1s;
}

@keyframes type {
  0% {
    content: ".";
  }

  50% {
    content: "..";
  }

  100% {
    content: "...";
  }
}

.cursor::after {
  content: "";
  animation: cursor linear infinite 1s;
}

@keyframes cursor {
  from {
    content: "";
  }

  to {
    content: "|";
  }
}

.image {
  position: relative;
}

.image:hover .image_rt{
  animation: image_rt 1s ease-in forwards;
}

@keyframes image_rt {
  from{
    rotate: 0deg;
  }
  to{
    rotate: 15deg;
    scale: 125%;
  }
}