.circle-background,
.circle-progress {
  fill: none;
}

.circle-background {
  stroke: #ddd;
}

.circle-progress {
  stroke: rgb(255, 102, 0);
  stroke-linecap: round;
  stroke-linejoin: round;
}

.circle-text {
  font-size: 3em;
  font-weight: bold;
  fill: rgb(0, 255, 64);
}

body {
  width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.active {
  border: blue solid 2px;
  box-shadow: blue 0.1rem .1rem .1rem .1rem;
}

/* html{
  scroll-behavior: smooth;
} */



.typer {
  content: "";
  display: flex;
}

.typer::after {
  content: "";
  animation: type linear infinite 1s;
}

@keyframes type {
  0% {
    content: ".";
  }

  50% {
    content: "..";
  }

  100% {
    content: "...";
  }
}

.cursor::after {
  content: "|";
  color: white;
  font-weight: bolder;
  height:fit-content;
  position:sticky;
  animation:steps(2) cursor infinite 1s;
}

@keyframes cursor {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

.image {
  position: relative;
}

/* .image>.image_rt{
  animation: image_rt 1s ease-in backwards ;
} */

.image_rt{
  height: fit-content;
  animation: image_rev .6s ease-in forwards;
}

.image:hover .image_rt{
  animation: image_rt .6s ease-in forwards;
}


@keyframes image_rev {
  from{
    transform: rotate(15deg);
    scale: 150%;
  }
  to{
    transform: rotate(0deg);
    scale: 110%;
  }
}

@keyframes image_rt {
  from{
    transform: rotate(0deg);
    scale: 110%;
  }
  to{
    /* rotate: 15deg; */
    transform: rotate(15deg);
    /* transform: scale(125%); */
    scale: 150%;
  }
}

.scroll{
  background-color: rgba(78, 78, 78, 0.562);
}
.scroll_dark{
  background-color: rgba(78, 78, 78);
}

/* .circular{
} */